.masthead.segment {
  min-height: 700px;
  padding: 1em 0em;
}

.ui.vertical.stripe {
    padding: 8em 0em;
}

.masthead.segment .background {
  background: url(http://www.lorempizza.com/1920/700) !important;
  filter: alpha(opacity=50);
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0.5);
  opacity: 0.75;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
}

.masthead hr {
  max-width: 50px;
  border-color: #2185D0;
  border-width: 3px;
}

.masthead h1.ui.header {
  margin-top: 3em;
  margin-bottom: 0em;
  font-size: 4em;
  font-weight: normal;
}
