.ui.inverted.vertical.footer.segment
  %h4.ui.horizontal.centered.header Contact Us
  .ui.equal.width.stackable.internally.grid
    .center.aligned.row
      .column
        %h4 Email
        %p
          %a(href="mailto:partnersofhoperefugeeresponse@gmail.com") partnersofhoperefugeeresponse@gmail.com
      .column
        %h4 Address
        %p
          1539 Salisbury Road
          %br
          Moncton, NB
          %br
          E1E 4P6
