.ui.vertical.stripe.segment.partners
  .ui.equal.width.center.aligned.grid
    .row
      .column
        %img(src="./img/JourneyChurch.JPG")
      .column
        %img(src="./img/bobs-cool-air-color.jpg")
      .column
        %img(src="./img/RiverOfLife.JPG")
      .column
        %img(src="./img/beanbear-1.png")
      .column
        %img(src="./img/incolor.png")
      .column
        %img(src="./img/kays custom framing.gif")
      .column
        %img(src="./img/logo-atlanticsuperstore.png")
      .column
        %img(src="./img/Terra Verde_new cut out letters 18497.jpg")