.ui.vertical.sub.masthead.center.aligned.segment
  .background
  .ui.text.container
    %h1.ui.inverted.header How you can help
.ui.vertical.stripe.segment
  .ui.middle.aligned.stackable.internally.celled.grid.container
    .row
      .column
        %h3 General Information
        %p
          At this point, we are building lists of people interested in helping in
          specific ways.  If you are interested, please contact our team at
          %a(href="mailto:partnersofhoperefugeeresponse@gmail.com") partnersofhoperefugeeresponse@gmail.com
          , indicate any specific area of
          interest, and we'll keep you apprised of opportunities.
.ui.vertical.stripe.segment
  .ui.equal.width.stackable.internally.celled.grid.container
    .column
      %h3.ui.header Before Arrival
      %p
        Before the family arrives, we'll be looking for donations of furniture,
        household goods, clothing, and other necessities of daily life.  We'll
        also be looking for volunteers to pick up furniture and deliver it to
        the residence, people to decorate, clean, and get an apartment set up.
    .column
      %h3.ui.header After Arrival
      %p
        Once the family arrives, we'll be helping them learn how to get around
        in Moncton, help them get settled with schools, language training,
        budgeting, learning to shop on a tight budget, and many other tasks
        associated with getting settled in a new country, with a different
        lifestyle, culture, and language than the family is used to.  There will
        surely be lots of need for help with transportation (public transit
        isn't always possible), and a myriad of other tasks.
.ui.vertical.stripe.segment
  .ui.middle.aligned.internally.celled.stackable.grid.container
    .row
      .column
        %h3.ui.header Other Information
    .row
      .column
        %h2.ui.header Translating
        %p
          If you happen to speak Arabic, you might consider volunteering as a
          translator as we interact with the family.
        %h2.ui.header Partners
        %p
          If your organization would like to partner with us in sponsoring a
          family, we would be happy to discuss that with you.  Please contact us
          at
          %a(href="mailto:partnersofhoperefugeeresponse@gmail.com") partnersofhoperefugeeresponse@gmail.com
          \.
