.ui.vertical.masthead.center.aligned.segment
  .background
  .ui.text.container
    %h1.ui.inverted.header Partners Of Hope
    %hr
    %h2 Refugee Response Team
    %a(href="https://www.canadahelps.org/en/charities/the-journey-church/")
      .ui.huge.primary.button Donate
.ui.vertical.stripe.segment
  .ui.middle.aligned.stackable.grid.container
    .row
      .eight.wide.column
        %h3.ui.header Our Mission
        %p
          We are a team of people under the auspices of The Journey Church who
          are sponsoring a Syrian refugee family or families to settle in
          Moncton or surrounding area.
        %p
          Sponsoring a family involves providing accommodations, furnishings,
          clothing, food, and other necessities of life, for the first 12
          months of their life here. We will also assist the family to adjust
          to life in Moncton, with a goal of helping them to be self-sufficient
          by the end of the 12 months.
      .six.wide.right.floated.column
        %img.ui.bordered.rounded.image(src="/img/Children1.jpg")
    .row
      .center.aligned.column
        %a(href="https://www.canadahelps.org/en/charities/the-journey-church/")
          .ui.huge.button Donate
.ui.vertical.stripe.quote.segment
  .ui.equal.width.stackable.internally.grid.container
    .row
      .column
        %h3 How Can I Help?
        %p
          There are two major ways you can help.
        %p
          Firstly, there will be many
          practical tasks that will need to be completed both before and after
          the family arrives.  Some of the opportunities include:
        %ul
          %li Obtaining any necessary clothing
          %li Helping refugees learn how and where to shop
          %li Obtaining medical, dental, and eye care
          %li
            Help with transportation, employment opportunities, socialization,
            and many other needs.
        %p
          If you would like to help in these ways, please email us at
          %a(href="mailto:partnersofhoperefugeeresponse@gmail.com") partnersofhoperefugeeresponse@gmail.com
          and indicate particular areas of
          interest.
        %p
          Secondly there is a monetary need.
        %p
          The financial commitment to
          support a refugee family will be approximately $25,000
          (depending on the size of the family).  Donations can be made to
          The Journey Church, designating “Syrian Refugee Response”,
          and are tax-deductible.
.ui.vertical.stripe.quote.segment
  .ui.equal.width.stackable.internally.grid
    .center.aligned.row
      .column
        %h3 Donations can be made in several ways
.ui.vertical.stripe.quote.segment
  .ui.equal.width.stackable.internally.celled.grid.container
    .row
      .column
        %h3 Cheques made out to "The Journey Church"
        %p
          Please indicate “Syrian Refugee Fund” in the comments section of the cheque.
          Mailing address:
          %p
            1539 Salisbury Road
            %br
            Moncton, NB
            %br
            E1E 4P6.
          %p A tax receipt will be mailed out early in 2017.
      .column
        %h3 Pre-authorized deposit (PAD)
        %p
          Visit
          %a(href="http://www.onthejourney.ca/Giving.html") our website
          , Click the “PAD form” button to print the form.  Alternatively,
          you can contact
          %a(href="mailto:debbie@onthejourney.ca") debbie@onthejourney.ca
          to set up a new PAD or change an existing one.
        %p A tax receipt will be mailed out early in 2017.
      .column
        %h3 Online (using Credit, Visa debit, Interac Online or Paypal)
        %p
          Click
          %a(href="https://www.canadahelps.org/en/charities/the-journey-church/") here
          to donate - Choose the correct option in the dropdown box.
          You may print your receipt immediately.
.ui.vertical.stripe.segment
  .ui.text.container
    %p Any money received above our goal will be used to sponsor another family or directly benefit refugees in the camps.
