.ui.vertical.masthead.center.aligned.segment
  .background
  .ui.text.container
    %h1.ui.inverted.header Partners Of Hope
    %hr
    %h2 Refugee Response Team
    %a(href="https://www.canadahelps.org/en/charities/the-journey-church/")
      .ui.huge.primary.button Donate
=render_partial :partners
.ui.vertical.stripe.segment
  .ui.middle.aligned.stackable.grid.container
    .row
      .eight.wide.column
        %h3.ui.header Our Mission
        %p
          We are a team of people under the auspices of The Journey Church who
          are sponsoring a refugee family or families to settle in
          Moncton or surrounding area.
        %p
          Thank you to everyone who has helped with this project.
          The sponsored family has been in Moncton since early August and are
          in the process of adjusting to life in Canada.
          The children have settled into school and the family is improving their knowledge of both English and French.
        %p
          We will be hosting a welcome party in the next few weeks, and everyone who has helped in any way is
          invited to come, meet the family, and hear some of their story of their journey from Syria to Canada.
          As soon as we have a date and location set, we'll be posting it on this website and on Facebook.
      .six.wide.right.floated.column
        %img.ui.bordered.rounded.image(src="/img/Children1.jpg")
    .row
      .center.aligned.column
        %a(href="https://www.canadahelps.org/en/charities/the-journey-church/")
          .ui.huge.button Donate
.ui.vertical.stripe.quote.segment
  .ui.equal.width.stackable.internally.grid.container
    .row
      .column
        %h3 How Can I Help?
        %p
          We are looking for lightly used winter clothing:
          %ul
            %li
              %p
                Girls size 6-7, boots size 13-14.
                She has a snowsuit, but needs a winter coat, and kids can't have too many mittens,
                toques, hats, scarves, socks and an extra pair of boots.
            %li
              %p
                Boys size 11-12, boots size 6 - he also has a snowsuit, but again, a winter coat is needed,
                as well as extra mittens, hats, etc.
            %li
              %p
                Ladies size small (winter coat, boots, and hats, gloves, scarves, etc).
        %p
          Also looking for volunteers who would be available to drive to afternoon appointments occasionally.
          If you can help out, please email Caitlin Dawe at
          %a(href="mailto:caitlin.dawe@gmail.com") caitlin.dawe@gmail.com
        %p
          From a financial perspective, while we have raised all the funds necessary to support the family for
          their first 12 months, the travel costs to get to Canada were quite a bit higher than expected,
          due to changes to government policy after March 2016, and also due to some urgency in booking
          travel out of Lebanon. Because of this, we are still accepting donations to help offset that extra expense.

.ui.vertical.stripe.quote.segment
  .ui.equal.width.stackable.internally.grid
    .center.aligned.row
      .column
        %h3 Donations can be made in several ways
.ui.vertical.stripe.quote.segment
  .ui.equal.width.stackable.internally.celled.grid.container
    .row
      .column
        %h3 Cheques made out to "The Journey Church"
        %p
          Please indicate “Refugee Fund” in the comments section of the cheque.
          Mailing address:
          %p
            1539 Salisbury Road
            %br
            Moncton, NB
            %br
            E1E 4P6.
          %p A tax receipt will be mailed out early in 2017.
      .column
        %h3 Pre-authorized deposit (PAD)
        %p
          Visit
          %a(href="http://www.onthejourney.ca/Giving.html") our website
          , Click the “PAD form” button to print the form.  Alternatively,
          you can contact
          %a(href="mailto:debbie@onthejourney.ca") debbie@onthejourney.ca
          to set up a new PAD or change an existing one.
        %p A tax receipt will be mailed out early in 2017.
      .column
        %h3 Online (using Credit, Visa debit, Interac Online or Paypal)
        %p
          Click
          %a(href="https://www.canadahelps.org/en/charities/the-journey-church/") here
          to donate - Choose the correct option in the dropdown box.
          You may print your receipt immediately.
.ui.vertical.stripe.segment
  .ui.text.container
    %p Any money received above our goal will be used to sponsor another family or directly benefit refugees in the camps.
